<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>xmppChat.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>80FC74681D8562FA00FB1059</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>80FC74811D8562FA00FB1059</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>80FC748C1D8562FA00FB1059</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
